<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<header>
			<h1>Web design & development that grows</h1>
			<h2>with your business</h2>

        <div class="header-text">
			<p>
				We specialize in start-up web development that starts small<br/>
				but can scale as your business scales. Using the lastest in<br/>
				static site custom code, we make things easy for you, so its<br/>
				one less thing to think about when building your business!
			</p>
		</div>
		</header>


		<div class="border">
			<p>Sign up to our newsletter to get early access to our free design resources <!---- arrow here------>   </p>
		</div>
 
	

       <div class="title">
		<h2>Why Choose Us?</h2>
	</div>

<div class="row">
	<div class="column">
	<img src="images/lightning.png">
		<h1>Lightning Fast</h1>
		<p>Code built from the ground up to <br/>
		   make your website lightning fast! <br/>

		   	
		</p>
	</div>

	<div class="column2">
		<img src="images/lightbulb.png">
		<h1>Strategic Perspective</h1>
		<p>Lorem ipsum dolor sit amet, <br/>
			consecteur adipisicing elit, sed do <br/>
			eiusmod tempor incididunt ut labore <br/>
			et dolore magna aliqua. U	
		 </p>
	</div>

	<div class="column3">
	<img src="images/seo.png">
		<h1></h1>
		<p>Lorem ipsum dolor sit amet, <br/>
			consecteur adipisicing elit, sed do <br/>
			eiusmod tempor incididunt ut labore <br/>
			et dolore magna aliqua. U	
		 </p>
	</div>

	<div class="column4">
		<img src="images/dollar.png">
		<h1>Modern E-Commerce</h1>
		<p>Lorem ipsum dolor sit amet, <br/>
			consecteur adipisicing elit, sed do <br/>
			eiusmod tempor incididunt ut labore <br/>
			et dolore magna aliqua. U	
		 </p>
	</div>
</div>






<section>
	<div class="agency">
		<img src="images/meeting.jpg">
		<h1>More than just <br/> another agency</h1>
		<p>We specialize in start-up web development tha starts small but can scale as your business
			scales. Using the latest in static site custome code, we make things easy for you,
			so its one less thing to think <br/>
            <br/>
			We specialize in start-up web development tha starts small but can scale as your business
			scales. Using the latest in static site custome code, we make things easy for you,
			so its one less thing to think
		</p>

	</div>
</section>



<div class="instagram">
	<h3>Stay up to date with all my latest work & antics</h3>

	<div class="ig-button">
		<a href="index.html">Instagram.</a>
	</div>
</div>





<div class="section2">
	 <img src="images/leaves-light.png"> 

<div class="services">
	<h3>Our Services</h3>
</div>

	<div class="service-content">
		<p>Our team is more than just co-workers, its a family and<br/>
			when you work with us, you don't just get assigned a<br/>
			number, you join our family.
		</p>
	</div>


	<div class="create-section">

		<div class="design-section">
		<h1>Design.</h1>
		<p>We specialize in start-up web development that starts small 
			but can scale as your business scales. Using the latest in static
			site custom code.
			<br/>
			<br/>
			We specialize in start-up web development that starts small 
			but can scale as your business scales. Using the latest in static
			site custom code. 
		</p>
	</div>
		<div class="design-section">
			<h1>Build.</h1>
			<p>We specialize in start-up web development that starts small 
			but can scale as your business scales. Using the latest in static
			site custom code. 
			<br/>
			<p>We specialize in start-up web development that starts small 
			but can scale as your business scales. Using the latest in static
			site custom code. 
			</p>
		</div>

		<div class="design-section">
			<h1>Design & Build.</h1>
			<p>We specialize in start-up web development that starts small 
				but can scale as your business scales. Using the latest in static
				site custom code.  <br/>
				<p>We specialize in start-up web development that starts small 
				but can scale as your business scales. Using the latest in static
				site custom code. </p>

				<div class="button"> 
					<a href="index.html">Get in touch!</a>
				</div>
		</div>
</div>



<div class="section3">
	<h1>Websites of the month</h1>
	<div class="website">
		<h2>John-Smith Website</h2>
		<p>We specialize in start-up web development That<br/>
			starts small but can scale as your business scales.<br/>
			Using the latest in static site custom code, we make <br/>
			 things easy for you, so its one less thing to think <br/> 
			 about when building your business!
			 <br/>
			 <br/>
	
			We specialize in start-up web development <br/>
			that starts small but can scale as your business scales.</p>
	    </div>
		<div class="design">
			<p><b>Design By: The John-Smith</b></p>
			<p><b>Built By: UpWeb</b></p>
	    </div>
			<div class="design-button">
				<a href="index.html">Go to Site</a>
            </div>

<div class="box">
	<h2>Meet our growing <br />family</h2>
	<p>Our team is more than just co-workers, its a <br />
		family and when you work with us, you don't <br />
		just get assigned a number, you join our family.
	</p>
	</div>
	<div class="box-image">
		<img src="images/plant-light.png">
	</div>
	<div class="profile">
		<img src="images/greg.png">
	</div>
</div>



<div class="zen-studio">
	<h2>Zen.Studio</h2>
	<p>We specialize in start-up web development that <br/>
       starts small but can scale as your business scales.  <br/>
	   Using the latest in static site custom code, we make <br/>
	   things easy for you, so its one less thing to think <br/>
	   about when building your business!
	   <br/>
	   <br/>
	   We specialise in start-up web development that  <br/>
	    starts small but can scale as your business scales.
	</p>
	<div class="zen-image">
		<img src="images/placeholder-project.png">
	</div>
</div>


<div class="design2">
	<p><b>Design By: The John-Smith</b></p>
	<p><b>Built By: UpWeb</b></p>
</div>
	<div class="design-button2">
		<a href="index.html">Go to Site</a>
	</div>




<footer>
	<h1>LOGO.DESIGN</h1>
	<h2>Web Design & Development</h2>

	<div class="office">
		<h3>Head Office</h3>
	</div>

   <div class="name">
	<p>222 John-Smith</p>
	<p>Victoria,Australia</p>
   </div>

   <div class="email">
	 <p>John.smith@gmail.com</p> 
	 <p>Ph:+62878739405</p> 
	 <div class="link">
		<p>Links</p>
		<!-- line -->
	</div>
   </div>

  

   <div class="copyright">
	   <h2>Copyright 2021</h2>
   </div>
	
   <div class="social-links">
	   <hr>
   <i class="fab fa-instagram"></i>
   <i class="fab fa-pinterest-square"></i>
   <i class="fab fa-facebook-square"></i>
   <i class="fab fa-youtube"></i>
</div>

</footer>











		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
