/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


html {
     font-family: 'Montserrat', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

.border {
     border: 2px solid #a8744e;
     background: #a8744e;
     padding: 3%;
}

.border p {
     color:white;
     text-align: center;
}


.title h2 {
  text-align: center;
  padding-top: 6%;
}

.section-chose {

}

.section-chose h1{
     font-size:14px;
     font-weight: bold;
     color:black;
}

.section-chose p {
     
}



/* .column {  *
  float: left;
  width: 33.33%;
  padding: 5px;
} */

.row { 
     display:flex;
     padding-top: 5%;
     padding-bottom: 10%;
      padding-left: 8%; 
}

.column {
     padding-left: 3%;
}

.column2 {
     padding-left: 3%;
}

.column3 {
     padding-left: 3%;
}

.column4 {
     padding-left: 3%;
}

 .column h1 { 
     font-size:14px;
     text-align:center;
     padding-top: 50px;
}

 .column2 h1 { 
     font-size:14px;
     text-align:center;
     padding-top: 37px;
}


 .column3 h1 { 
     font-size:14px;
     text-align:center;
     
}

 .column4 h1 { 
     font-size:14px;
     text-align:center;
     padding-top: 34px;
}



.column p {
     font-size:14px;
     text-align:center;
     padding-top: 15px;
} 

.column2 p {
     font-size:14px;
     text-align:center;
     text-align: center;
     margin-top: 10px;
}

.column3 p {
     font-size:14px;
     text-align:center;
     padding-top: 6px;
}

.column4 p {
     font-size:14px;
     text-align:center;
     margin-top: 5px;
}
.ig-button {
     border: 2px solid black;
     width: 10%;
     /* height: 10%; */
     padding: 6px;
     margin-left: 45%;
}
.column img {
     padding-left:71px;
}
.column2 img {
     padding-left:73px;
     padding-top:25px;
}
.column3 img {
     padding-left:73px;
     padding-top:25px;
}
.column4 img {
     padding-left:73px;
     padding-top:24px;
}

.ig-button a {
     padding-left: 26px;
     text-decoration: none;
    color: black;
}

button {
     margin-left: -103%;
     border:1px solid white;
     background: #b2b28c;
     color:white;
     margin-top: 60px;
}






.content p{
     display:flex;
}

.content h1 {
     font-size: 12px;
     text-align: center;
}

.content p {

}




section { 
     background-color: #b2b28c;
     display: flex;
     flex-direction: row;
     padding-top: 3%;
     padding-bottom: 7%;
     padding-left: 9%;
     
}

.section-content {
     padding-left: 3%;
}


 .section img {
     width: 726px;
     height: 480px;
    /* padding-left: 5%; */
    padding-top: 5%;
  
}

.content-heading {
     width: 71%;
     padding-top: 9%;
}
.content-heading h2 {
     display:inline-block;
     padding-top: 15%;
     font-size: 40px;

}


.section-content1 {
 padding-left: 4.4%;


}

.section-content1 p {
     color: white;
     line-height: 25px;
}



.section-content2 p {
     color: white;
     line-height: 25px;
}



.services h3 {
     text-align:right;
     margin-top: -26%;
     font-size: 48px;
     margin-right: 12%;

}


.button {
     border: 2px solid white;
     color:white;
     width: 135px;
     margin-top: 65px;
     margin-left: -100%;
     height: 24px;
     padding-top: 4px;
 
}
.button a {
     text-decoration: none;
     color:white;
     padding-left: 23px;
     font-size: 14px;
}

.section2 {
     /* background-image: url(../images/leaves-light.png); */
     /* background-size:cover; */
     padding-top: 20px;
     /* width: 400px; */
}
.section2 img {
     height:600px;
     width: 100%;
}


.instagram {
     padding-bottom: 3%;
    padding-top: 3%;

}
.instagram h3 {
     text-align: center;
}

.agency {
     padding-top: 5%;
}
.agency img {
     /* height: 400px; */
     width: 772px;
    margin-left: -64px;
}

.agency h1 {
     float: right;
     margin-right:14.8%;
     margin-top: -77px;
 
}
.agency p {
     width: 33%;
     float:right;
    color:white;
    margin-right: 5.5%;
    margin-top: -25%;
}


/* .section2 h3 { *
     font-size: 48px;
     /* padding: 16% 0% 5% 54%; *
}*/
.services 

.service-content {
     padding-right: 12.7%;
     margin-top: -48px;
}

.service-content p {
    text-align: right;
    line-height: 25px;
    margin-right: 12%;
    margin-top: -33px;
     
}
.create-section {
     margin-top:15%;
     background: #b2b28c; 
     display:flex;
     padding-bottom: 5%;
}
.design-section {
     padding-left: 5%;
}
.design-section p {
     width: 65%;
     padding-left: 5.8%;
     color:white;

}

.container p {
     width: 28%;
     padding-left: 75px;
     color:white;
}


.site{

     background:rgba(181, 68, 0, 0.0);
     width: 7%;
     padding: 2px 0px 2px 2px;
     margin-left: 5.4%;
     margin-top: 0px;

}

.site a{
  text-decoration: none;
  padding: 0px;
  color:white;
}

.box{ 
 border: 1px solid #b2b28c;
 background: #b2b28c; 
 width: 26%; 
 margin-left: 41.1%;
 /* margin-top: 6%; */
 padding: 88px 10px 100px 1px;
 margin-top:-30%;
}
 .box h2{ 
     font-size: 22px;
     color: white;
     margin-top: -41px;
}
.box p{
     font-size: 11px;
      width: 92%;
      margin-left: 16px;
      color:white;
}
.box-image{
     padding-left: 67.9%;
     /* margin-left: 0%; */
     margin-top: -18.6%; 
}
.box-image img{
     height: 267.3px;
   
}
.profile {
     padding-left: 41.1%;
     margin-top:-5px;
}







/******************************************
/* LAYOUT
/*******************************************/

header {
  background-image: url(../images/plant-light.png);
  background-size:cover;
   height: 120vh; 
   width: 100%;
   padding-top: 1px;
 
}

h1 {
     font-size: 40px;
     padding-top: 12%;
     padding-left: 5%;
}


h2 {
     font-size: 40px;
     margin-top: -11px;
     padding-left: 5.4%;
}

.header-text p {
     padding-left: 6%;
     line-height: 25px;;
}
 
.float p {
color:red;
}
.float img {
     height:300px;
     width:300px;
}




.section3{
     background: #ffc7b6;
     height: 550px;
     margin-top: -31px;
     padding-bottom: 74%;

}
.section3 h1 { 
     font-size:45px;
     padding-top: 4%;
     padding-left: 63px;
}
.website{
     padding-top: 11%;
}
.website h2 {
     font-size: 25px;
   /* margin-top:-14%; */
     color:black;
     padding-left: 74px;
}
.website p {
     /* font-size:14px; */
     /* font-size: 12px; */
     padding-left: 74px;
    color: white;
}
.design {
     padding-top: 1%;
     padding-left: 74px;
}
.design p{
   color:white;
}
.design p{
     color:white;
}

.design-button {
   border: 2px solid white;
   width: 100px;
   margin-top: 25px;
   margin-left: 75px;
   height: 24px;
   padding-top: 4px;


}
.design-button a {
     text-decoration: none;
     color:white;
     padding-left: 17px;
     font-size: 14px;

}
.zen-studio {
     margin-top: -44%;

}
.zen-studio h2 {
     font-size:25px;
     text-align: right;
     padding-right: 24.6%;
}
.zen-studio p {
     color:white;
     padding-left: 66%;
}
.zen-image{
     margin-top: -21%;
     padding-left: 74px;
}
.zen-image img {
     width: 750px;
     height: 550px;
}
.design2 {
     padding-left: 66%;
     margin-top: -17%;
}
.design2 p {
     color:white;
}
.design-button2 {
     border: 2px solid white;
   width: 100px;
   margin-top: 25px;
   margin-left: 66%;
   height: 24px;
   padding-top: 4px;
}
.design-button2 a {
     text-decoration: none;
     color:white;
     padding-left: 17px;
     font-size: 14px; 
}





footer {
     background-color:black;
     height: 350px;
     margin-top: 200px;
    }
    
    footer h1{
         color:white;
         font-size: 36px;
         padding-top: 40px;
    }
    
    footer h2 {
        color:white; 
        font-size:14px;
        margin-top: -18px;
    
    }
    .office {
         
    }
    .office h3 {
         color:white; 
         margin-top:-15%;
         font-size:18px;
         margin-top: -13%;
         margin-left: -136%; 
         line-height: 10px;
    }


footer p{
     font-size: 14px;
}
footer h4 {
     color:white;  
}
footer h5 {
     color:white;  
     font-size:14px;   
}
footer h6 {
     color:white;    
}
.name{
     padding-left: 80px;
     margin-top: 15%;
}
.name p{
     color:white;
     font-size: 14px;
     line-height: 6px;
}
.email{
     padding-left: 80px;
     padding-top: 5px;
}.email p {
     color:white;
     font-size: 14px; 
     line-height: 6px;
}
.link {
margin-top:-79px;
padding-right:9.6%;
}
.link p {
     color:white;
     text-align:right;
}
.copyright{
     color:white;
     padding-top: 4%;
     text-align:center;

}
.social-links {
     /* padding-left:20%; */
     text-align: right;
     padding-right: 6%;
     margin-top: -6%;
}
.fa-instagram {
     color:white;
     font-size: 18px;
     
}
.fa-pinterest-square {
     color:white;
     font-size: 18px;
}
.fa-facebook-square {
     color:white;
     font-size: 18px;
}
.fa-youtube {
     color:white;
     font-size: 18px;
}
hr {
   width: 7%;
   margin-left:94.2%;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* 940 768 480 414 375 360 */


/********************Responsive*************************/


@media (max-width: 940px){
     header {
          height: 142vh;
          width: 124%;
     }
     .border {
          width: 117.6%;
     }
     .title h2{
          margin-left: 25%;
     }
     header h1,h2 {
          font-size: 32px;
     }
     .row {
          margin-left: 2%;
     }
     .column {
          margin-left: -11%;
     }
     .column h1 {
          padding-left: 31%;
     }
     .column p {
          width: 146%;  
     }
     .column2 {
          margin-left: 9%;
     }
     .column2 h1 {
          width: 142%;
     }
     .column2 p {
     width: 157%;
      margin-top: 0px;
     }
     .column3 {
          margin-left: 11%;  
     }
     .column3 p {
          width: 165%;
          /* margin-left: 6%; */
          /* margin-left: 6%; */
          padding-top: 17px;

     }
     .column4 {
          margin-left: 12%;
     }
     .column4 h1 {
          width: 148%;
     }
     .column4 p {
          width: 163%;
          margin-top: -2px;
     }
     section {
          width: 115%;
     }
     .agency img {
          width: 618px;
     }
     .agency p {
          margin-right: 10.5%;
          margin-top: -24%;
     }
     .instagram h3 {
          margin-left: 25%;
     }
     .ig-button {
          width: 14%;
          margin-left: 57%;

     }
     .section2 img {
          width: 124%;
     }
     .services h3 {
           margin-right: -8%; 
           margin-top: -41%;
     }
     .service-content p {
          margin-right: -8%; 
     }
     .create-section {
          width: 124%;
     }
     .design-section{
          padding-top: 9%;
     }
     .design-section h1 {
          font-size: 32px;
     }
     .section3 h1 {
          font-size: 36px;
     }
    
}


